::ng-deep {
  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    background: black !important;
  }
  .nb-theme-default nb-layout-header nav {
    background: dimgrey;
  }
  .nb-theme-default nb-icon {
    font-size: 2.25rem;
  }
}

.gallryClass {
  width: 26rem;
  height: 27rem;
  border: black;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.gallaryBodyCls{
  background: dimgrey;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.galleryCardCls {
  background: dimgrey;
  border-radius: 5px;
}
.viewBtn {
  width: 423px;
  background-color: orangered !important;
  border: orangered !important;
  color: white !important;
  height: 40px !important;
  border-radius: 5px;
}
//
//.buttonCls {
//  display: flex;
//  justify-content: space-evenly;
//}

.iconCls {
  display: flex;
  justify-content: space-evenly;
  background: grey;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding-top: 21px;
  height: 107px;
}

.dataCls {
  margin: 0 0 5px 0px;
  color: white;
}

.foodCls{
  margin: 2px;
  font-size: 12px;
}
