<div class="container">
<div class="row">
  <div class="col-6">
    <div class="card gallryClass">
      <img src="../../assets/foodParty.jpg" class="card-img-top" alt="...">
      <div class="card-body gallaryBodyCls">
        <div class="card-text">
          <p class="foodCls" style="color: white">Food Festival</p>
          <p class="foodCls">About</p>
          <p class="foodCls" style="color: white"> Come experience the most awaited food festival taking place on campus,
            A university is a place where people from different countries meet. This is
            your best chance to experience the different foods made by people from
            variuos countries.</p>
          <p class="foodCls">Dont miss the chance</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6" style="width: 28rem">
    <nb-card style="border: black; border-radius: 7px; height: 25rem">
      <nb-card-body class="galleryCardCls">
        <h6 class="mt-3" style="color: white">Event Information</h6>
        <p style="color: white"><b>Friday, June 21,2022 at 13:00 to 15:00</b></p>
        <p style="color: white">Location - <b>David park, University Of Leicester</b></p>
        <p class="dataCls">Organiser</p>
        <p class="dataCls">John harley and team</p>
        <p class="dataCls">Mobile: 723426712</p>
        <p class="dataCls mb-3">Mail: Johnharley@gmail.com</p>
        <div class="iconCls">
          <div>
            <nb-icon  icon="checkmark-square-2"></nb-icon>
            <p style="color: white">85 Likes</p>
          </div>
          <div>
            <nb-icon  icon="settings-2"></nb-icon>
            <p style="color: white">64 Bookings</p>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
    <div class="buttonCls" style="margin-top: -16px">
      <button nbButton class="viewBtn1" (click)="bookParticipation()">Book Participation</button>
      <button nbButton class="viewBtn2 ms-2" (click) = "inviteFriends()">Invite Friends</button>
    </div>
  </div>
</div>
</div>









